**/node_modules/**
**/.next/**

# Playwright
playwright-report/
playwright/.auth/
!playwright/.auth/.gitkeep

acli.exe
test-results/
nul

.anima/
temp/
design-ux/

db-backups/
package-lock.json
yarn.lock
pnpm-lock.json
pnpm-lock.yaml